# Python
__pycache__

# IDEs
.vscode
env/

# Bot data
data/

# logs
ai.log*

# database and the journal sqlite keeps
ai.db
ai.db-journal

# Coverage data
.coverage*

# Other misc config files
.python-version

# audio files for looping in voice channels
/audio